doctype html
head
  meta(charset="utf-8")
  title ##Basic starter build##
  link(rel='stylesheet', type='text/css' href='./css/app.css')
body
  div
    p
      a(href='http://sass-lang.com/', target='_blank') Sass/Scss
    p
      a(href='http://jade-lang.com/', target='_blank') Jade/Pug
    p
      a(href='https://www.npmjs.com/package/gulp-imagemin', target='_blank') Imagemin
    p
      a(href='https://www.npmjs.com/package/gulp-autoprefixer', target='_blank') Autoprefix
    p
      a(href='https://www.browsersync.io/', target='_blank') BrowserSync
    p
      a(href='http://www.bourbon.io/', target='_blank') Bourbon/Neat/Bitters
    p
      a(href='https://foundation.zurb.com/', target='_blank') Foundation 6
    img(src='./images/working.jpg')
