@import '01_plugins/01_plugins';
@import '02_modules/02_modules';
@import '03_base/03_base';
@import '04_pages/04_pages';

@import 'styles';

/*Just for funsies*/
body {
  background-color: #000;
  color: #eee;
  }
div {
  @include outer-container(100%);
  padding-top: 5%;
  p {
    text-align: center;
    font-family: $font-stack-helvetica
  }
  img {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    }
  }
